<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="test.xacro" />

    <!-- Information for Gazebo controls -->
    <xacro:include filename="gazebo_control.xacro"/>

    <!-- Information for Lidar -->
    <xacro:include filename="lidar.xacro"/>

</robot>