<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Colour options for robot -->
    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <!-- Base link is centre of the 2 drive wheels -->
    <link name="base_link">
    
    </link>

    <!-- Chassis - box shape with origin just behind the wheels -->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="-0.1 0 0"/>
    </joint>

    <link name="chassis">
        <visual>
            <origin xyz="0.15 0 0.075"/>
            <geometry>
                <box size"0.3 0.3 0.15"/>
            </geometry>
            <material name="blue"/>
        </visual>
    </link>


</robot>